<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="actor1" class="com.stackroute.domain.Actor">
        <constructor-arg name="name" value="Bhavya" index="0" type="java.lang.String"/>
        <constructor-arg name="gender" value="Female" index="1" type="java.lang.String"/>
        <constructor-arg name="age" value="22" index="2" type="int"/>

    </bean>

    <bean id="actor2" class="com.stackroute.domain.Actor">
        <constructor-arg name="name" index="0" value="Sujatha" type="java.lang.String" />
        <constructor-arg name="gender" index="1" value="Female" type="java.lang.String"/>
        <constructor-arg name="age" index="2" value="32" type="int"/>
    </bean>





    <bean name="movieFirst,movieTwo" class="com.stackroute.domain.Movie" scope="prototype">
        <constructor-arg name="actor" ref="actor1" />


    </bean>


<!--    <bean id="movieTwo" class="com.stackroute.domain.Movie">
        <constructor-arg name="actor" ref="actor2" />


    </bean> -->



    <bean name="movieThree,movieFour" class="com.stackroute.domain.Movie">
        <constructor-arg name="actor" ref="actor2" />


    </bean>


 </beans>
